<div class="box">
  <div class="title">
    <h1>To-do list</h1>
    <h2>{{ today | date:'Y년 M월 d일' }}</h2>
  </div>
  <div>
    <app-add-todo (onTodoAdded)="addTodo($event)"></app-add-todo>
  </div>
  <div>
    <div *ngFor="let todo of todos">
      <span>
        <input type="checkbox" id="check" (click)="toggleTodo(todo)"/>
        <label class="todoList">{{ todo.text }}</label>
        <button class="remove" (click)="deleteTodo(todo._id)">Remove</button>
        {{todo._id}}
        {{todo.text}}
        {{todo.done}}
      </span>
    </div>
  </div>
  <div class="btn-group">
    <button (click)="AllCompleteTodo()">All Completed</button>
    <button (click)="AllResetTodo()">All Reset</button>
    <button (click)="AllDeleteTodo()">All Clear</button>
  </div>
</div>
