.title{
  background-color: #bb83f6;
  padding: 46px 26px 26px 16px;
  color: white;
  font-weight: normal;
}

h1, h2{
  margin: 0;
  font-weight: normal;
}

h1{
  margin-bottom: 16px;
}

app-todo, app-add-todo{
  border-bottom: 1px solid #cccccc;
}

.todoList{
  width: 300px;
  height: 20px;
  display:inline-block;
  background-color: white;

}
input:checked + label{
  text-decoration: line-through;
}

button{
  width: 100px;
  height: 20px;
  background-color: indianred;
  border: None;
  color: white;
}
