.box{
  text-align: center;
  margin: 20px auto;
  width: 1000px;
  height: auto;
  border: 1px solid #bb83f6;
}

.title{
  background-color: #bb83f6;
  padding: 46px 26px 26px 16px;
  color: white;
  font-weight: normal;
}

h1, h2{
  margin: 0;
  font-weight: normal;
}

h1{
  margin-bottom: 16px;
}

app-todo, app-add-todo{
  border-bottom: 1px solid #cccccc;
}

.todoList{
  margin-top: 10px;
  width: 300px;
  height: 20px;
  display: inline-block;
  background-color: white;
  border-bottom: 1px solid #252222;
}

input:checked + label{
  text-decoration: line-through;
}

.remove{
  cursor: pointer;
  position: relative;
  bottom: 3px;
  width: 100px;
  height: 20px;
  background-color: indianred;
  border: None;
  color: white;
}

.btn-group{
  margin-top: 10px;
  margin-bottom: 20px;
}
